{:deps {io.github.rads/rain {:local/root "."}}
 :tasks {quickdoc {:doc "Invoke quickdoc"
                   :extra-deps {io.github.borkdude/quickdoc {:git/sha "db61b35b613d3c1a7e84ea96efab6827cca20406"}}
                   :task (exec 'quickdoc.api/quickdoc)
                   :exec-args {:outfile "docs/api.md"}}}}
