{:paths ["src"]
 :deps {babashka/fs {:mvn/version "0.4.19"}
        babashka/process {:mvn/version "0.5.21"}
        io.github.rads/xtrace {:git/tag "v0.0.3" :git/sha "5e7c34c"}
        org.babashka/cli {:mvn/version "0.7.51"}}}
