{:prod {:biff.beholder/enabled false
        :shadow-cljs/mode :prod}
 :dev {:merge [:prod]
       :biff.beholder/enabled true
       :shadow-cljs/mode :dev}
 :tasks {:biff.tasks/clj-args ["-J-XX:-OmitStackTraceInFastThrow"
                               "-J-XX:+CrashOnOutOfMemoryError"
                               "-J-Duser.timezone=UTC"
                               "-M" "-m" "{{top/ns}}.{{main/ns}}"
                               "--port" "7888"
                               "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}}
