{:transform [["." "." {"gitignore" ".gitignore"} :only]
             ["github" ".github"]
             ["src" "src/{{top/file}}"
              {"myproj.clj" "{{main/file}}.clj"
               "myproj/app.clj" "{{main/file}}/app.clj"
               "myproj/ui.clj" "{{main/file}}/ui.clj"}]]}
